* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100dvh;
    background-color: rgb(17, 19, 24);
    font-family: 'Poppins', sans-serif;
}

.navbar {
    backdrop-filter: blur(10px);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gabarito', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

.offcanvas {
    background-color: rgb(25, 28 ,32);
}

.offcanvas-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.ftc {
    border-radius: 1rem;
    transition: all .2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.ftc:nth-child(1n+1):hover {
    transition-duration: 1s;
    transform: scale(1.2);
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}


#card-container {
    width: 600px;
    height: 400px;
    perspective: 700px;
}

#card-container:hover > #card {
    cursor: pointer;
    transform: rotateY(180deg);
}

#card {
    height: 100%;
    width: 100%;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front, .back {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    backface-visibility: hidden;
    overflow: hidden;
}

.back {
    transform: rotateY(180deg);
}
